.salvar-button{
    -fx-background-color: #58ec58;
    -fx-text-fill: black;
}
.background-pane{
    -fx-background-color: rgb(255, 255, 255);
}
.deletar-button{
    -fx-background-color: #ff4848;
    -fx-text-fill: black;
}
.voltar-button{
    -fx-background-color: #48adff;
    -fx-text-fill: black;
}